.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(45deg, #2ba182, #4433b1, #35ce5b, #ca1d96,#849600);
    background-size: 400% 400%;
    color: #fff;
    margin: 0 auto;
    padding: 40px 35px;
    text-align: center;
    border-radius: 20px;
    animation: gradient 5s ease infinite;
}
    
@keyframes gradient {
    0%{
        background-position:0% 50% ;
    }
    50%{
        background-position:100% 50%;
    }
    100%{
        background-position: 0% 50% ;
    }
}
.search{
    width: 100%;
    display:flex;
    align-items: center ;
   justify-content: center;
}
.search input{
    border: 0;
    outline: 0;
    background-color:#cbfffc ;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 50px;
    flex: 1;
    margin-right: 15px;
    font-size: 18px;
}
.search button{
   
    border: 0;
    outline: 0;
    background-color:#cbfffc ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
   
}
.search button img{
    width: 26px;
    cursor: pointer;
}
.wheather-icon{
    width: 170px;
    margin-top: 30px;
}
.wheather h1{
    font-size: 80px;
    font-weight:500 ;

}
.wheather h2{
    font-size: 45px;
    font-weight:400 ;
    margin-top : -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col
{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 28px;
    margin-top: -6px;
}
/* text animation */
.temp
{  
      background: linear-gradient(45deg, #000000, #31ca1d, #e97406,#849600);
      background-size: 200%;
      background-clip: text;
      color:transparent;
      animation: text-animation 3s infinite ease-in alternate;
}
@keyframes text-animation{
    0% {
        background-position: 0%;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 200%;
    }
}
