.bg-gradient-blue {
    background: linear-gradient(45deg, #0a0c0e, #ee2f19);
    color: white; /* Optional for better text visibility */
    height : 90px;
    box-shadow: 4px 4px 100px rgb(216, 229, 32);
    border-bottom-left-radius: 30% ;
    border-bottom-right-radius: 30% ;
}
.footer {
    text-align: center;  
     background: linear-gradient(135deg, #ee0a0a, #856289, #cde324);
    color: white;
    padding: 30px 0;
}

.footer-content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.call-btn {
    background: #ff7f50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.call-btn:hover {
    background: #ff5722;
    transform: scale(1.1);
}

.footer-icons {
    margin: 20px 0;
    gap: 5px;
}

.icon-link {
    margin: 0 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: linear-gradient(135deg, #ea0000, #000000);
    color: white;
    font-size: 24px;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
   justify-content: center;
}
.icon-link:hover {
    background: #388e3c;
    transform: scale(1.2) rotate(10deg);
}

.footer-text {
    font-size: 12px;
    margin-top: 20px;
    opacity:0.8;
}
.gradient-text {
    background: linear-gradient(135deg, #dd1010, #2e1231);
    background-clip: text; /* For modern browsers */
    color: transparent; /* Make the text transparent so the gradient is visible */
  }